# -------------------------------------------------
# Ignore EVERYTHING inside Data/, but keep folder
# -------------------------------------------------
Data/*
!Data/.gitkeep

# -------------------------------------------------
# Ignore EVERYTHING inside GM_WM_Seg_Results/
# -------------------------------------------------
GM_WM_Seg_Results/*

# -------------------------------------------------
# Ignore EVERYTHING inside GMM_Debug/
# -------------------------------------------------
GMM_Debug/*

# -------------------------------------------------
# Ignore log files everywhere
# -------------------------------------------------
*.log
*.txt

# -------------------------------------------------
# Ignore svs, tif, tiff files everywhere
# -------------------------------------------------
*.svs
*.tif
*.tiff

# -------------------------------------------------
# Ignore sana git repo
# -------------------------------------------------
sana/

# -------------------------------------------------
# Ignore .DS_Store
# -------------------------------------------------
.DS_Store
**/.DS_Store
