# -------------------------------------------------
# Ignore EVERYTHING inside Data/, but keep folder
# -------------------------------------------------
Data/*
!Data/.gitkeep

# -------------------------------------------------
# Ignore EVERYTHING inside GM_WM_Seg_Results/, but keep folder
# -------------------------------------------------
GM_WM_Seg_Results/*
!GM_WM_Seg_Results/.gitkeep

# -------------------------------------------------
# Ignore EVERYTHING inside GMM_Debug/, but keep folder
# -------------------------------------------------
GMM_Debug/*
!GMM_Debug/.gitkeep

# -------------------------------------------------
# Ignore log files everywhere
# -------------------------------------------------
*.log

# -------------------------------------------------
# Ignore svs files everywhere
# -------------------------------------------------
*.svs

# -------------------------------------------------
# Ignore sana git repo
# -------------------------------------------------
sana/